send2trash
requests
beautifulsoup4
selenium
openpyxl
PyPDF2
python-docx
imapclient
pyzmail36
twilio
ezgmail
ezsheets
pillow
pyautogui
pyperclip
pywin32
black
flake8
yapf
jedi
pylance
autopep8
mypy
pint
rope
bandit
pip-tools
prospector
mccabe
radon
rich
loguru
tqdm
fabric
pycryptodome
cryptography
exif
invoke
icecream
pysnooper
pandas[all]
flask
tornado
requests-oauthlib
authlib
jupyter
scipy
scikit-learn
coverage
markdown
pymdown-extensions
sqlalchemy
scrapy
twisted
certbot
matplotlib
seaborn
sympy
nltk
geopandas[all]
scikit-rf
qrcode
